<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<div class="p-6 mb-2 h-1/3 my-4 w-auto  bg-zinc-400 text-center">Dashboard</div>

<ul class="container w-32 h-screen bg-neutral-700">
    
    <a href="all"><li class="p-6  mb-2 h-1/3 bg-zinc-400 text-center">All Blog</li></a>
    <a href="blog"><li class="p-6 mb-2 h-1/3  bg-zinc-400 text-center">Write a blog</li></a>
  </ul>  
</body>
</html>